<div class="mat-elevation-z1 container-fluid" style="width: 100%; background-color: white;">
    <div class="row">
        <div class="col menu">
            <button mat-button [disabled]="!paso1"><mat-icon>looks_one</mat-icon> elegir archivo</button>
            <button mat-button [disabled]="!paso2"><mat-icon>looks_two</mat-icon>opciones</button>
            <button mat-button [disabled]="!paso3"><mat-icon>looks_3</mat-icon>pre-visualización</button>
            <button mat-button [disabled]="!paso4"><mat-icon>beenhere</mat-icon>importar</button>
            <!-- <button mat-button style="margin-top: 285px;"><mat-icon>help</mat-icon>ayuda</button> -->

        </div>
        <mat-divider [vertical]="true"></mat-divider>
        <div class="col contenedor" *ngIf="paso1">
            <div class="form-group" style="text-align: center;">
                <h1>Por favor selecciona el archivo <b>Excel</b> de registros. </h1>
                <p style="margin-top: 24px; margin-bottom: 36px; width: 50%; margin-left: auto; margin-right: auto;">No te olvides* de revisar el <i>formato de importación</i> de registros y que los datos cumplan los parametros minimos establecidos.
                    <!-- <br> Para mayor información puedes dirigirte a la sección de <b style="cursor: pointer; text-decoration: underline;">ayuda</b> que se encuentra en la parte inferior del menú. -->
                </p>
                <div style="display: flex;">
                    <input type="file" class="form-control" (change)="onFileChange($event);" style="width: 70%; margin-left: auto;" accept=".xlsx, .xls">
                    <span style="margin-right: auto; margin-top: 6px; margin-left: 3px;">.xlsx</span>
                </div>
            </div>
            <div style="background: #FAFAFA;">
                <div *ngIf="indicadorImportacion && !importacion" style="text-align: center;">
                    <mat-spinner style="margin-left: auto; margin-right: auto;"></mat-spinner>
                    Cargando registros
                </div>
                <div *ngIf="!indicadorImportacion && importacion">
                    <h3>Información archivo: <b>{{file.name}}</b></h3>
                    <div class="row">
                        <div class="col-2">Registros válidos:</div>
                        <div class="col-2" style="text-align: right;">{{listaImportacion.registrosValidos.length}}</div>
                        <!-- <div class="col-8"><a style="color: #007Bff; text-decoration: underline; cursor: pointer;">ver</a></div> -->
                    </div>
                    <div class="row">
                        <div class="col-2">Registros inválidos:</div>
                        <div class="col-2" style="text-align: right;">{{listaImportacion.registrosInvalidos.length}}</div>
                        <!-- <div class="col-8"><a style="color: #007Bff; text-decoration: underline; cursor: pointer;">ver</a></div> -->
                    </div>
                    <div class="row">
                        <div class="col-2">Total registros:</div>
                        <div class="col-2" style="text-align: right;">{{listaImportacion.registrosValidos.length + listaImportacion.registrosInvalidos.length}}</div>
                        <div class="col-8"></div>
                    </div>
                </div>

            </div>

            <button *ngIf="!indicadorImportacion && importacion" mat-raised-button type="button" style="margin: 36px 0px 0px auto;" (click)="procesarInformacion(); paso2 = true; paso1 = false;" class="btn btn-success pull-right"> Continuar <mat-icon>arrow_forward</mat-icon></button>
        </div>
        <div class="col contenedor" *ngIf="paso2">
            <h3>Opciones generales</h3>
            <div style="display: flex;">
                <div class="col" style="display: flex; flex-direction: column; margin-left: 12px;">
                    <label>Periodo a importar (fecha de adquisicion)</label>
                    <div style="display: flex;">
                        <mat-form-field style="margin-right: 12px; width: 200px;" class="col">
                            <mat-label>Fecha de inicio</mat-label>
                            <input matInput [matDatepicker]="picker" [(ngModel)]="periodoInicio" (ngModelChange)="indicarPeriodo()">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker startView="year"></mat-datepicker>
                        </mat-form-field>
                        <mat-form-field style="margin-right: 12px; width: 200px;" class="col">
                            <mat-label>Fecha final</mat-label>
                            <input matInput [matDatepicker]="picker1" [(ngModel)]="periodoFinal" (ngModelChange)="indicarPeriodo()">
                            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                            <mat-datepicker #picker1 startView="year"></mat-datepicker>
                        </mat-form-field>
                    </div>
                    <label>Registrar servicio</label>
                    <div class="col" style="display: flex; flex-direction: column;">
                        <section>
                            <mat-checkbox [(ngModel)]="generarGastosServicio" [disabled]="'true'">
                                Servicio contratado
                            </mat-checkbox>
                        </section>
                        <section>
                            <mat-checkbox [(ngModel)]="generarGastosMantenimiento" [disabled]="'true'">
                                Mantenimiento
                            </mat-checkbox>
                        </section>
                    </div>
                    <label>Registro de cobros por servicio</label>
                    <div class="col" style="display: flex; flex-direction: column;">
                        <section class="example-section">
                            <mat-checkbox [(ngModel)]="registrarDeudas" [disabled]="'true'">
                                {{registrarDeudas? 'Registrar cobros':'No registar'}}
                            </mat-checkbox>
                        </section>
                        <section>
                            <mat-checkbox *ngIf="registrarDeudas" [(ngModel)]="registrarComprobante" [disabled]="'true'">
                                Registrar pago
                            </mat-checkbox>
                        </section>
                    </div>
                </div>
                <mat-divider [vertical]="true"></mat-divider>
                <div class="col" style="background: white;">
                    <mat-divider style="margin-bottom: 12px; margin-top: 12px;"></mat-divider>
                    <div>
                        <div class="row">
                            <div class="col" style="min-width: 100px;"></div>
                            <div class="col detalles-header">Registros</div>
                            <div class="col detalles-header">Cargos</div>
                            <div class="col detalles-header">Abonos</div>
                        </div>
                        <div class="row">
                            <div class="col" style="min-width: 100px;">Representantes</div>
                            <div class="col detalles-center">{{obtenerRegistrosRepresentantes}}</div>
                            <div class="col detalles-center"></div>
                            <div class="col detalles-center"></div>
                        </div>
                        <div class="row">
                            <div class="col" style="min-width: 100px; display: flex;">Sitios <i style="font-size: 12px;"> (total)</i></div>
                            <div class="col detalles-center">{{obtenerRegistrosSitio}}</div>
                            <div class="col detalles-center"></div>
                            <div class="col detalles-center"></div>
                        </div>
                        <mat-divider style="margin-bottom: 12px; margin-top: 12px;"></mat-divider>
                        <div class="row">
                            <div class="col" style="min-width: 100px;">Servicio</div>
                            <div class="col detalles-center">{{obtenerRegistrosServicio}}</div>
                            <div class="col detalles-right">{{obtenerDeudasServicio | currency}}</div>
                            <div class="col detalles-right"></div>
                        </div>
                        <div class="row">
                            <div class="col" style="min-width: 100px;">Mantenimiento</div>
                            <div class="col detalles-center">{{obtenerRegistrosMantenimiento}}</div>
                            <div class="col detalles-right">{{obtenerDeudasMantenimiento | currency}}</div>
                            <div class="col detalles-right"></div>
                        </div>
                        <div class="row">
                            <div class="col" style="min-width: 100px;">Total</div>
                            <div class="col detalles-center">{{obtenerRegistrosServicio + obtenerRegistrosMantenimiento}}</div>
                            <div class="col detalles-right">{{obtenerDeudasServicio + obtenerDeudasMantenimiento | currency}}</div>
                            <div class="col detalles-right">{{obtenerAbonos | currency}}</div>
                        </div>
                    </div>
                </div>
            </div>
            <div style="display: flex; margin: 12px;">
                <button mat-button style="margin-left: auto;" (click)="paso1 = true; paso2 = false; file = undefined;">Regresar</button>
                <button mat-raised-button class="btn btn-success pull-right" (click)="paso3 = true; paso2 = false;">Continuar</button>
            </div>
        </div>
        <div class="col contenedor" *ngIf="paso3" style="padding-top: 0; padding-bottom: 0; padding-right: 0;">
            <div style="max-height: 63vh; overflow: auto;">
                <table mat-table [dataSource]="listaRegistros2" matSort>
                    <ng-container matColumnDef="nombre">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> nombre </th>
                        <td mat-cell *matCellDef="let row"> {{row.representante.nombre}}</td>
                    </ng-container>
                    <ng-container matColumnDef="cedula">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> cedula </th>
                        <td mat-cell *matCellDef="let row"> {{row.representante.cedula}}</td>
                    </ng-container>
                    <ng-container matColumnDef="servicio">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> motivo </th>
                        <td mat-cell *matCellDef="let row"> {{row.sitio.motivo}} </td>
                    </ng-container>
                    <ng-container matColumnDef="tipo">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> lugar </th>
                        <td mat-cell *matCellDef="let row"> {{row.sitio.lugar}} </td>
                    </ng-container>
                    <ng-container matColumnDef="adquisicion">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> adquisicion </th>
                        <td mat-cell *matCellDef="let row"> {{row.sitio.fechaAdquisicion | date: 'MMM d, y':undefined:locale}} </td>
                    </ng-container>
                    <ng-container matColumnDef="cantidad">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> cantidad </th>
                        <td mat-cell *matCellDef="let row"> {{row.comprobante.total | currency}} </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                </table>
            </div>
            <div style="display: flex; margin: 12px; margin-top: 24px;">
                <button mat-button style="margin-left: auto;" (click)="paso2 = true; paso3 = false;">Regresar</button>
                <button mat-raised-button class="btn btn-success pull-right" (click)="paso4 = true; paso3 = false; verCantidadRegistros();">Continuar</button>
            </div>
        </div>
        <div class="col contenedor" *ngIf="paso4" style="display: flex;">
            <div style="display: flex; margin: auto;" *ngIf="importando">
                <button mat-button style="margin-left: auto;" (click)="paso3 = true; paso4 = false;">Regresar</button>
                <button mat-raised-button style="margin-right: auto;" class="btn btn-success pull-right" (click)="guardarRegistros()">Guardar registros</button>
            </div>
            <div *ngIf="!importando" style="text-align: center; margin: auto;">
                <mat-spinner style="margin-left: auto; margin-right: auto;"></mat-spinner>
                Importando registros, por favor espere hasta terminar el proceso...
            </div>

        </div>
    </div>
</div>
