table {
    width: 100%;
    min-width: 520px;
}

tr.mat-footer-row {
    font-weight: bold;
}

tr.mat-header-row {
    height: 30px;
}

th.mat-header-cell {
    border: none;
}

.mat-table-sticky {
    border-top: 1px solid #e0e0e0;
}

.mat-column-fecha {
    min-width: 115px;
}

.mat-column-desde {
    text-align: center;
    min-width: 100px;
}

.mat-column-cargos {
    text-align: center;
    min-width: 110px;
}

.mat-column-abonos {
    text-align: center;
    min-width: 110px;
}

.mat-column-accion {
    text-align: end;
}

.mat-column-eliminar {
    text-align: end;
}

.mat-column-descripcion {
    max-width: 200px;
    min-width: 130px;
    padding-left: 6px;
    padding-right: 6px;
}

.container-opciones {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    width: 100%;
}

mat-icon {
    color: #757575;
    font-size: large;
}

button {
    background-color: white
}
