table {
    width: 100%;
    min-width: 520px;
}

tr.mat-footer-row {
    font-weight: bold;
}

th.mat-header-cell {
    border: none;
}

.mat-table-sticky {
    border-top: 1px solid #e0e0e0;
}

.mat-column-select {
    width: 55px;
}

.mat-column-fecha {
    min-width: 95px;
    width: 95px;
    max-width: 95px;
}

.mat-column-abonos,
.mat-column-cargos {
    text-align: center;
    min-width: 60px;
}

.mat-column-acciones {
    text-align: end;
    justify-content: right;
}

.mat-column-descripcion {
    min-width: 200px;
    padding-left: 6px;
    padding-right: 6px;
}

.container-opciones {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    width: 100%;
}

mat-icon {
    color: #757575;
    font-size: large;
}
