<div class="container-opciones ">
    <a [routerLink]="[ '/informacion-representante', id ]" style="margin: auto 12px auto auto;">ver registro</a>
    <button mat-stroked-button (click)="agregarDeuda();" [disabled]="sitios == 0">Agregar deuda</button>
    <button mat-stroked-button (click)="agregarPago();" [disabled]="sitios == 0">Agregar pago</button>
</div>
<div class="mat-elevation-z1">
    <table mat-table [dataSource]="dataSourceEC" matSort>
        <ng-container matColumnDef="fecha">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha </th>
            <td mat-cell *matCellDef="let row"> {{row.fecha | date : 'MMM d, y':undefined:locale}}</td>
        </ng-container>

        <ng-container matColumnDef="descripcion">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Descripción </th>
            <td mat-cell *matCellDef="let row" [matTooltip]="'Servicio contratado: ' + row.descripcion"> {{row.pago}}</td>
        </ng-container>

        <ng-container matColumnDef="desde">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Año </th>
            <td mat-cell *matCellDef="let row"> {{row.desde | date : 'MMM d, y':undefined:locale}} </td>
        </ng-container>

        <ng-container matColumnDef="cargos">
            <th mat-header-cell *matHeaderCellDef> Cargos </th>
            <td mat-cell *matCellDef="let row" [style.color]="row.desde
          < '2001/01/01' ? 'blue': 'red'">{{ row.estado_cuenta !='deuda' ? '' : row.cantidad | currency}} {{row.desde
                < '2001/01/01' ? '(sucres)': ''}} </td>
        </ng-container>

        <ng-container matColumnDef="abonos">
            <th mat-header-cell *matHeaderCellDef> Abonos </th>
            <td mat-cell *matCellDef="let row" [style.color]="row.desde
        < '2001/01/01' ? 'blue': 'green'"> {{ row.estado_cuenta =='deuda' ? '' : row.cantidad | currency}} {{row.desde
                < '2001/01/01' ? '(sucres)': ''}} </td>
        </ng-container>

        <ng-container matColumnDef="accion">
            <th mat-header-cell *matHeaderCellDef>
            </th>
            <td mat-cell *matCellDef="let row" matTooltip="Imprimir comprobante">
                <button mat-icon-button> <mat-icon>print</mat-icon> </button>
            </td>
        </ng-container>

        <ng-container matColumnDef="eliminar">
            <th mat-header-cell *matHeaderCellDef> </th>
            <td mat-cell *matCellDef="let row" matTooltip="Eliminar comprobante">
                <button mat-icon-button> <mat-icon>delete</mat-icon> </button>
            </td>
        </ng-container>

        <ng-container matColumnDef="header-row">
            <th mat-header-cell *matHeaderCellDef [attr.colspan]="7" style="text-align: center; font-weight: bold;">Estado de cuenta</th>
        </ng-container>

        <ng-container matColumnDef="header-row-cero-grupo_0">
            <th mat-header-cell *matHeaderCellDef [attr.colspan]="1">Representante:</th>
        </ng-container>
        <ng-container matColumnDef="header-row-uno-grupo_0">
            <th mat-header-cell *matHeaderCellDef [attr.colspan]="2">{{representante?.nombre}}</th>
        </ng-container>
        <ng-container matColumnDef="header-row-dos-grupo_0">
            <th mat-header-cell *matHeaderCellDef [attr.colspan]="2">Abonos extras:</th>
        </ng-container>
        <ng-container matColumnDef="header-row-tres-grupo_0">
            <th mat-header-cell *matHeaderCellDef [attr.colspan]="2" style="color: 'green';">{{getPagosExtras() | currency}}</th>
        </ng-container>

        <ng-container matColumnDef="header-row-cero-grupo_1">
            <th mat-header-cell *matHeaderCellDef [attr.colspan]="1"></th>
        </ng-container>
        <ng-container matColumnDef="header-row-uno-grupo_1">
            <th mat-header-cell *matHeaderCellDef [attr.colspan]="2"></th>
        </ng-container>
        <ng-container matColumnDef="header-row-dos-grupo_1">
            <th mat-header-cell *matHeaderCellDef [attr.colspan]="2">Abonos servicios:</th>
        </ng-container>
        <ng-container matColumnDef="header-row-tres-grupo_1">
            <th mat-header-cell *matHeaderCellDef [attr.colspan]="2" style="color: 'green';">{{getPagosServicios() | currency}}</th>
        </ng-container>

        <ng-container matColumnDef="header-row-cero-grupo_2">
            <th mat-header-cell *matHeaderCellDef [attr.colspan]="3"></th>
        </ng-container>
        <ng-container matColumnDef="header-row-uno-grupo_2">
            <th mat-header-cell *matHeaderCellDef [attr.colspan]="2">Saldo servicios:</th>
        </ng-container>
        <ng-container matColumnDef="header-row-dos-grupo_2">
            <th mat-header-cell *matHeaderCellDef [attr.colspan]="2" style="color: 'red';">{{getTotalEstadoCuenta() | currency}}</th>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="['header-row']; sticky: true"></tr>
        <tr mat-header-row *matHeaderRowDef="['header-row-cero-grupo_0', 'header-row-uno-grupo_0', 'header-row-dos-grupo_0', 'header-row-tres-grupo_0']; sticky: true"></tr>
        <tr mat-header-row *matHeaderRowDef="['header-row-cero-grupo_1', 'header-row-uno-grupo_1', 'header-row-dos-grupo_1', 'header-row-tres-grupo_1']; sticky: true"></tr>
        <tr mat-header-row *matHeaderRowDef="['header-row-cero-grupo_2', 'header-row-uno-grupo_2', 'header-row-dos-grupo_2']; sticky: true"></tr>

        <tr mat-header-row *matHeaderRowDef="displayedColumnsEC; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsEC;"></tr>

    </table>
    <mat-paginator class="mat-paginator-sticky" [pageSizeOptions]="[ 5, 10, 25]" showFirstLastButtons></mat-paginator>

</div>
