<h4>
    Fallecidos
</h4>
<div class="container-opciones ">
    <!-- <button mat-stroked-button style="background-color: white; margin-left: auto;">Imprimir</button> -->
    <button mat-stroked-button style="background-color: white; margin-left: auto;" (click)="accordion.openAll();">Registrar fallecido</button>
</div>

<mat-accordion #accordion_add="matAccordion" class="example-headers-align" multi>
    <mat-expansion-panel>
        <form [formGroup]="fallecidoForm" (ngSubmit)="submit()" novalidate>
            <div class="fields-container">
                <mat-form-field>
                    <mat-label>Nombre:</mat-label>
                    <input formControlName="nombre" type="text" matInput>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Cédula:</mat-label>
                    <input formControlName="cedula" type="number" matInput>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Fecha:</mat-label>
                    <input formControlName="fecha" matInput [matDatepicker]="picker" (focus)="picker.open()" readonly>
                </mat-form-field>
                <mat-datepicker #picker></mat-datepicker>

                <mat-form-field>
                    <mat-label>Observaciones:</mat-label>
                    <textarea formControlName="observaciones" type="text" #input maxlength="150" matInput></textarea>
                    <mat-hint align="end">{{input.value?.length || 0}}/150</mat-hint>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Sitio:</mat-label>
                    <mat-select formControlName="sitio">
                        <mat-option *ngFor="let sitio of sitios" [value]="sitio.id">
                            {{sitio.tipo}}: {{sitio.descripcion}}, {{sitio.sector}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="fallecidoFormControl.sitio.errors?.required">Debes seleccionar el sitio *</mat-error>
                </mat-form-field>

                <mat-action-row>
                    <a mat-stroked-button (click)="cancelarSubmit();">cancelar</a>
                    <button type="submit" mat-stroked-button>guardar</button>
                </mat-action-row>
            </div>
        </form>
    </mat-expansion-panel>
</mat-accordion>

<mat-accordion #accordion_edit="matAccordion" class="example-headers-align" multi>
    <mat-expansion-panel>
        <form [formGroup]="fallecidoEditForm" (ngSubmit)="submitEdit()" novalidate>
            <div class="fields-container">
                <mat-form-field>
                    <mat-label>Nombre:</mat-label>
                    <input formControlName="nombre" type="text" matInput>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Cédula:</mat-label>
                    <input formControlName="cedula" type="number" matInput>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Fecha:</mat-label>
                    <input formControlName="fecha" matInput [matDatepicker]="picker2" (focus)="picker2.open()" readonly>
                </mat-form-field>
                <mat-datepicker #picker2></mat-datepicker>

                <mat-form-field>
                    <mat-label>Observaciones:</mat-label>
                    <textarea formControlName="observaciones" type="text" #input maxlength="150" matInput></textarea>
                    <mat-hint align="end">{{input.value?.length || 0}}/150</mat-hint>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Sitio:</mat-label>
                    <mat-select formControlName="sitio">
                        <mat-option *ngFor="let sitio of sitios" [value]="sitio.id">
                            {{sitio.tipo}}: {{sitio.descripcion}}, {{sitio.sector}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="fallecidoEditFormControl.sitio.errors?.required">Debes seleccionar el sitio *</mat-error>
                </mat-form-field>

                <mat-action-row>
                    <a mat-stroked-button (click)="cancelarSubmitEdit();">cancelar</a>
                    <button type="submit" mat-stroked-button>guardar</button>
                </mat-action-row>
            </div>
        </form>
    </mat-expansion-panel>
</mat-accordion>

<div style="width: 100%; margin-top: 6px;">
    <div class="mat-elevation-z1">
        <table mat-table [dataSource]="dataSource" matSort>
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef mat-sort-header width="10%"> ID </th>
                <td mat-cell *matCellDef="let row" class="action-link">
                    <a style="color: #007Bff; cursor: pointer;">{{row.id}} </a>
                </td>
            </ng-container>
            <ng-container matColumnDef="nombre">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> nombre </th>
                <td mat-cell *matCellDef="let row"> {{row.nombre}}</td>
            </ng-container>
            <ng-container matColumnDef="cedula">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> cédula </th>
                <td mat-cell *matCellDef="let row"> {{row.cedula}} </td>
            </ng-container>
            <ng-container matColumnDef="fecha">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> fecha</th>
                <td mat-cell *matCellDef="let row"> {{row.fecha | date : 'MMM d, y':undefined:locale}} </td>
            </ng-container>

            <ng-container matColumnDef="sector">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> sitio </th>
                <td mat-cell *matCellDef="let row"> {{row.sector}} </td>
            </ng-container>
            <ng-container matColumnDef="tipo">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> servicio </th>
                <td mat-cell *matCellDef="let row">{{row.tipo}}</td>
            </ng-container>
            <ng-container matColumnDef="descripcion">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> tipo </th>
                <td mat-cell *matCellDef="let row">{{row.descripcion}}</td>
            </ng-container>
            <ng-container matColumnDef="acciones">
                <th mat-header-cell *matHeaderCellDef> </th>
                <td mat-cell *matCellDef="let row">
                    <div style="display: flex; flex-direction: row; width: max-content;">
                        <button mat-icon-button matTooltip="Editar" (click)="editar(row);">
                    <mat-icon [style.opacity]="row.hovered? '1':'0'">edit</mat-icon>
                    </button>
                        <button mat-icon-button matTooltip="Eliminar" (click)="eliminarInformacion(row)">
                    <mat-icon [style.opacity]="row.hovered? '1':'0'">delete</mat-icon>
                    </button>
                    </div>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;" (mouseover)="row.hovered = true" (mouseout)="row.hovered = false"></tr>

        </table>

    </div>
</div>
