<div class="container-fluid">
    <div class="row">
        <div class="col-2" style="display: flex; flex-direction: column;">
            <mat-card style="background: #FAFAFA;">
                <mat-card-header>
                    <mat-card-title>Tareas</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <div style="display: flex; flex-direction: column;">
                        <a (click)="cargarDetalles('lista-precios')" routerLinkActive="active" style="color: #007Bff;">Lista de precios</a>
                        <a (click)="cargarDetalles('importar-datos')" routerLinkActive="active" style="color: #007Bff;">Importar datos</a>
                        <a (click)="cargarDetalles('copia-seguridad')" routerLinkActive="active" style="color: #007Bff;">Copia de seguridad</a>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col-10" style="margin-top: 24px;">
            <div style="display: flex; padding-left: 12px; padding-top: 6px; background: #FAFAFA; margin-bottom: 24px;">
                <label>{{detalles}}</label>
                <button *ngIf="detalle == 'lista-precios'" mat-raised-button style="margin-left: auto; margin-top: 3px; margin-right: 24px; height: 40px;">registrar valor</button>
                <button *ngIf="detalle == 'Deudas pendientes'" mat-raised-button style="margin-left: auto; margin-top: 3px; margin-right: 24px; height: 40px;">registar pago</button>
                <button *ngIf="detalle == 'Pagos realizados'" mat-raised-button style="margin-left: auto; margin-top: 3px; margin-right: 24px; height: 40px;">ver pago</button>
            </div>
            <router-outlet></router-outlet>
        </div>
    </div>

</div>
