table {
    width: 100%;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

.mat-paginator-sticky {
    bottom: 0px;
    position: sticky;
    z-index: 10;
}

.container-historial {
    margin: 0px 12px;
    padding: 12px;
}

.container-representante-inicio {
    padding: 12px;
}

td,
th {
    width: 25%;
}

a {
    cursor: pointer;
}

.mat-column-id {
    min-width: 70px;
}

.mat-column-accion {
    min-width: 50px;
    text-align: center;
}

.mat-column-cedula {
    min-width: 100px;
    padding-left: 10px;
}

.mat-column-fecha {
    min-width: 100px;
    padding-left: 10px;
}

.mat-column-nombre {
    min-width: 250px;
    padding-left: 10px;
}

button {
    background-color: white
}
