<mat-sidenav-container class="example-container">

    <mat-sidenav opened mode="side" style="background-color: white; padding: 12px;">
        <form [formGroup]="reporteForm" (ngSubmit)="submit()" novalidate>
            <div class="fields-container" style="display: flex; flex-direction: column;">
                <mat-form-field style="width: 120px;">
                    <mat-label>Tipo reporte:</mat-label>
                    <mat-select formControlName="tipo">
                        <mat-option value="abonos_y_cargos"> Abonos y cargos </mat-option>
                        <mat-option value="abonos"> Abonos </mat-option>
                        <mat-option value="cargos"> Cargos </mat-option>
                        <mat-option value="sitios"> Sitios </mat-option>
                    </mat-select>
                    <mat-error *ngIf="reporteFormControl.tipo.errors?.required">Campo requerido *</mat-error>
                </mat-form-field>

                <mat-form-field style="width: 120px;">
                    <mat-label>Fecha:</mat-label>
                    <input formControlName="desde" matInput [matDatepicker]="picker_desde" (focus)="picker_desde.open()" readonly>
                    <mat-error *ngIf="reporteFormControl.desde.errors?.required">Campo requerido *</mat-error>
                </mat-form-field>
                <mat-datepicker #picker_desde></mat-datepicker>

                <mat-form-field style="width: 120px;">
                    <mat-label>Fecha:</mat-label>
                    <input formControlName="hasta" matInput [matDatepicker]="picker_hasta" (focus)="picker_hasta.open()" readonly>
                    <mat-error *ngIf="reporteFormControl.hasta.errors?.required">Campo requerido *</mat-error>
                </mat-form-field>
                <mat-datepicker #picker_hasta></mat-datepicker>

                <button type="submit" mat-stroked-button style="height: max-content; background: white;">ver</button>
            </div>
        </form>
        <mat-divider>
        </mat-divider>
    </mat-sidenav>

    <mat-sidenav opened mode="side" position="end">
        <div style="display: flex; flex-direction: column;">
            <button mat-stroked-button (click)="reporteForm.valid ? generatePdf('open') : ''">
              <i class="material-icons">picture_as_pdf</i>
              <span>Abrir PDF</span>
            </button>
            <button mat-stroked-button (click)="reporteForm.valid ? generatePdf('download') : ''">
              <i class="material-icons">cloud_download</i>
              <span>Descargar PDF</span>
            </button>
            <button mat-stroked-button (click)="reporteForm.valid ? generateExcel() : ''">
              <i class="material-icons">cloud_download</i>
              <span>Descargar EXCEL</span>
            </button>
            <!-- <button mat-stroked-button (click)="reporteForm.valid ? generatePdf('print') : ''">
              <i class="material-icons">print</i>
              <span>Imprimir PDF</span>
            </button>
            <button mat-stroked-button type='reset' (click)="resetForm()">
              <i class="material-icons">clear</i>
              <span>Reiniciar</span>
          </button> -->
        </div>
    </mat-sidenav>

    <div class="container-detalles">
        <table class="at-elevation-z1" #table mat-table [dataSource]="data_body">

            <ng-container matColumnDef="num">
                <th mat-header-cell *matHeaderCellDef> </th>
                <td mat-cell *matCellDef="let row"> {{row.num}} </td>
                <td mat-footer-cell *matFooterCellDef> </td>
            </ng-container>

            <ng-container matColumnDef="representante">
                <th mat-header-cell *matHeaderCellDef> representante </th>
                <td mat-cell *matCellDef="let row"> {{row.representante}} </td>
                <td mat-footer-cell *matFooterCellDef> </td>
            </ng-container>

            <ng-container matColumnDef="cedula">
                <th mat-header-cell *matHeaderCellDef> cédula </th>
                <td mat-cell *matCellDef="let row"> {{row.cedula}} </td>
                <td mat-footer-cell *matFooterCellDef> </td>
            </ng-container>

            <ng-container matColumnDef="fecha">
                <th mat-header-cell *matHeaderCellDef> fecha </th>
                <td mat-cell *matCellDef="let row"> {{row.fecha}} </td>
                <td mat-footer-cell *matFooterCellDef> </td>
            </ng-container>

            <ng-container matColumnDef="lugar">
                <th mat-header-cell *matHeaderCellDef> servicio </th>
                <td mat-cell *matCellDef="let row"> {{row.lugar}} </td>
                <td mat-footer-cell *matFooterCellDef> </td>
            </ng-container>

            <ng-container matColumnDef="motivo">
                <th mat-header-cell *matHeaderCellDef> lugar </th>
                <td mat-cell *matCellDef="let row"> {{row.motivo}} </td>
                <td mat-footer-cell *matFooterCellDef> </td>
            </ng-container>

            <ng-container matColumnDef="sector">
                <th mat-header-cell *matHeaderCellDef> sector </th>
                <td mat-cell *matCellDef="let row"> {{row.sector}} </td>
                <td mat-footer-cell *matFooterCellDef> </td>
            </ng-container>

            <ng-container matColumnDef="descripcion">
                <th mat-header-cell *matHeaderCellDef> Descripción </th>
                <td mat-cell *matCellDef="let row"> {{row.descripcion}} </td>
                <td mat-footer-cell *matFooterCellDef> </td>
            </ng-container>

            <ng-container matColumnDef="cargos">
                <th mat-header-cell *matHeaderCellDef> cargos </th>
                <td mat-cell *matCellDef="let row" [style.color]="row.fecha
            < '2001-01-01' ? '#757575': 'red'">
                    {{ row.estado_cuenta !='cargo' ? '' : row.fecha >= '2001-01-01' ? (row.cantidad | currency) : (row.cantidad + 'S.')}} </td>
            </ng-container>

            <ng-container matColumnDef="abonos">
                <th mat-header-cell *matHeaderCellDef> abonos </th>
                <td mat-cell *matCellDef="let row" [style.color]="row.fecha
          < '2001-01-01' ? '#757575': 'green'">
                    {{ row.estado_cuenta !='abono' ? '' : row.fecha >= '2001-01-01' ? (row.cantidad | currency) : (row.cantidad + 'S.')}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="columnsToDisplay; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
            <tr mat-footer-row *matFooterRowDef="columnsToDisplay; sticky: true"></tr>
        </table>
    </div>

</mat-sidenav-container>