<div style="display: flex; flex-direction: row; margin-bottom: 6px;">
    <h4 style="margin: auto 0 0 0;">
        Detalle de movimientos - Sitio N° {{id_sitio}}
    </h4>
    <span class="example-spacer"></span>
    <button *ngIf="selection.hasValue()" matTooltip="Imprimir seleccionados" mat-stroked-button (click)="accordion.openAll();" style="background: white;">Imprimir</button>
    <button *ngIf="selection.hasValue()" matTooltip="Eliminar seleccionados" mat-stroked-button (click)="eliminarLista();" style="background: white;">Eliminar</button>

    <div>
        <button mat-stroked-button (click)="accordion_cargo.openAll();" style="background-color: white;">Agregar cargo</button>
        <button mat-stroked-button (click)="accordion.openAll();" style="background-color: white;">Agregar abono</button>
    </div>
</div>

<mat-accordion #accordion_abono="matAccordion" class="example-headers-align" multi style="margin-top: 6px;">
    <mat-expansion-panel>
        <form [formGroup]="agregarAbonoForm" (ngSubmit)="submitAbono()" novalidate>
            <div class="fields-container">
                <mat-form-field style="width: 100px;">
                    <mat-label>Fecha:</mat-label>
                    <input formControlName="fecha" matInput [matDatepicker]="picker" (focus)="picker.open()" readonly>
                </mat-form-field>
                <mat-datepicker #picker></mat-datepicker>

                <mat-form-field style="margin: 0 6px;">
                    <mat-label>Descripción:</mat-label>
                    <input formControlName="descripcion" type="text" #input maxlength="150" matInput>
                    <mat-hint align="end">{{input.value?.length || 0}}/150</mat-hint>
                    <mat-error *ngIf="agregarAbonoFormControl.descripcion.errors?.required">Campo requerido*</mat-error>
                </mat-form-field>

                <mat-form-field style="width: 100px;">
                    <mat-label>Cantidad:</mat-label>
                    <input formControlName="cantidad" type="number" min="0" matInput>
                    <mat-error *ngIf="agregarAbonoFormControl.cantidad.errors?.required">campo requerido*</mat-error>
                </mat-form-field>

                <mat-action-row>
                    <a mat-stroked-button (click)="cancelarSubmitAbono();">cancelar</a>
                    <button type="submit" mat-stroked-button>guardar</button>

                </mat-action-row>
            </div>
        </form>
    </mat-expansion-panel>
</mat-accordion>

<mat-accordion #accordion_cargo="matAccordion" class="example-headers-align" multi style="margin-top: 6px;">
    <mat-expansion-panel>
        <form [formGroup]="agregarCargoForm" (ngSubmit)="submitCargo()" novalidate>
            <div class="fields-container">
                <mat-form-field style="width: 100px;">
                    <mat-label>Fecha:</mat-label>
                    <input formControlName="desde" matInput [matDatepicker]="picker_cargo" (focus)="picker_cargo.open()" readonly>
                </mat-form-field>
                <mat-datepicker #picker_cargo></mat-datepicker>

                <mat-form-field style="margin: 0 6px;">
                    <mat-label>Descripción:</mat-label>
                    <input formControlName="descripcion" type="text" #input maxlength="150" matInput>
                    <mat-hint align="end">{{input.value?.length || 0}}/150</mat-hint>
                    <mat-error *ngIf="agregarCargoFormControl.descripcion.errors?.required">Campo requerido*</mat-error>
                </mat-form-field>

                <mat-form-field style="width: 100px;">
                    <mat-label>Cantidad:</mat-label>
                    <input formControlName="cantidad" type="number" min="0" matInput>
                    <mat-error *ngIf="agregarCargoFormControl.cantidad.errors?.required">campo requerido*</mat-error>
                </mat-form-field>

                <mat-action-row>
                    <a mat-stroked-button (click)="cancelarSubmitCargo();">cancelar</a>
                    <button type="submit" mat-stroked-button>guardar</button>

                </mat-action-row>
            </div>
        </form>
    </mat-expansion-panel>
</mat-accordion>

<mat-accordion #accordion_editar="matAccordion" class="example-headers-align" multi style="margin-top: 6px;">
    <mat-expansion-panel>
        <form [formGroup]="editarForm" (ngSubmit)="submitEditar()" novalidate>
            <div class="fields-container">
                <mat-form-field style="width: 100px;">
                    <mat-label>Fecha:</mat-label>
                    <input formControlName="fecha" matInput [matDatepicker]="picker_editar" (focus)="picker_editar.open()" readonly>
                </mat-form-field>
                <mat-datepicker #picker_editar></mat-datepicker>

                <mat-form-field style="margin: 0 6px;">
                    <mat-label>Descripción:</mat-label>
                    <input formControlName="descripcion" type="text" #input maxlength="150" matInput>
                    <mat-hint align="end">{{input.value?.length || 0}}/150</mat-hint>
                    <mat-error *ngIf="editarFormControl.descripcion.errors?.required">Campo requerido*</mat-error>
                </mat-form-field>

                <mat-form-field style="width: 100px;">
                    <mat-label>Cantidad:</mat-label>
                    <input formControlName="cantidad" type="number" min="0" matInput>
                    <mat-error *ngIf="editarFormControl.cantidad.errors?.required">campo requerido*</mat-error>
                </mat-form-field>

                <mat-action-row>
                    <a mat-stroked-button (click)="cancelarSubmitEditar();">cancelar</a>
                    <button type="submit" mat-stroked-button>guardar</button>

                </mat-action-row>
            </div>
        </form>
    </mat-expansion-panel>
</mat-accordion>

<div class="mat-elevation-z1" style="margin-top: 6px;">
    <table mat-table [dataSource]="dataSource">

        <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef>
                <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()" [indeterminate]="selection.hasValue() && !isAllSelected()">
                </mat-checkbox>
            </th>
            <td mat-cell *matCellDef="let row">
                <mat-checkbox [style.opacity]="row.hovered? '1':'0.8'" (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)">
                </mat-checkbox>
            </td>
        </ng-container>

        <ng-container matColumnDef="fecha">
            <th mat-header-cell *matHeaderCellDef> Fecha </th>
            <td mat-cell *matCellDef="let row"> {{row.fecha | date : 'MMM d, y':undefined:locale}}</td>
        </ng-container>

        <ng-container matColumnDef="descripcion">
            <th mat-header-cell *matHeaderCellDef> Descripción </th>
            <td mat-cell *matCellDef="let row"> {{row.descripcion}}</td>
        </ng-container>

        <ng-container matColumnDef="cargos">
            <th mat-header-cell *matHeaderCellDef> Cargos </th>
            <td mat-cell *matCellDef="let row" [style.color]="row.desde
        < '2001/01/01' ? 'blue': 'red'">{{ row.estado_cuenta !='deuda' ? '' : row.cantidad | currency}} {{row.desde
                < '2001/01/01' ? '(sucres)': ''}} </td>
        </ng-container>

        <ng-container matColumnDef="abonos">
            <th mat-header-cell *matHeaderCellDef> Abonos </th>
            <td mat-cell *matCellDef="let row" [style.color]="row.desde
      < '2001/01/01' ? 'blue': 'green'"> {{ row.estado_cuenta =='deuda' ? '' : row.cantidad | currency}} {{row.desde
                < '2001/01/01' ? '(sucres)': ''}} </td>
        </ng-container>

        <ng-container matColumnDef="acciones">
            <th mat-header-cell *matHeaderCellDef> </th>
            <td mat-cell *matCellDef="let row">
                <div style="display: flex; flex-direction: row;">
                    <button mat-icon-button matTooltip="Editar" (click)="editar(row);"><mat-icon [style.opacity]="row.hovered? '1':'0'">edit</mat-icon></button>
                    <button mat-icon-button matTooltip="Eliminar" (click)="eliminarEstadoCuenta(row);"><mat-icon [style.opacity]="row.hovered? '1':'0'">delete</mat-icon></button>
                </div>
            </td>
        </ng-container>

        <ng-container matColumnDef="header-row-cero-grupo_2">
            <th mat-header-cell *matHeaderCellDef [attr.colspan]="2"></th>
        </ng-container>
        <ng-container matColumnDef="header-row-uno-grupo_2">
            <th mat-header-cell *matHeaderCellDef [attr.colspan]="2">Cargos:</th>
        </ng-container>
        <ng-container matColumnDef="header-row-dos-grupo_2">
            <th mat-header-cell *matHeaderCellDef [attr.colspan]="1" style="color: 'red';">{{getDeudas() | currency}}</th>
        </ng-container>

        <ng-container matColumnDef="header-row-cero-grupo_1">
            <th mat-header-cell *matHeaderCellDef [attr.colspan]="2"></th>
        </ng-container>
        <ng-container matColumnDef="header-row-uno-grupo_1">
            <th mat-header-cell *matHeaderCellDef [attr.colspan]="2">Abonos:</th>
        </ng-container>
        <ng-container matColumnDef="header-row-dos-grupo_1">
            <th mat-header-cell *matHeaderCellDef [attr.colspan]="1" style="color: 'green';">{{getPagos() | currency}}</th>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="['header-row-cero-grupo_2', 'header-row-uno-grupo_2', 'header-row-dos-grupo_2']; sticky: true"></tr>
        <tr mat-header-row *matHeaderRowDef="['header-row-cero-grupo_1', 'header-row-uno-grupo_1', 'header-row-dos-grupo_1']; sticky: true"></tr>
        <tr mat-header-row *matHeaderRowDef="displayedColumnsEC; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsEC;" (mouseover)="row.hovered = true" (mouseout)="row.hovered = false"></tr>

    </table>
    <mat-paginator class="mat-paginator-sticky2" [pageSizeOptions]="[ 5, 10, 25]" showFirstLastButtons></mat-paginator>

</div>
