<div *ngIf="representante">
    <div>
        <form [formGroup]="representanteForm" (ngSubmit)="submit()" novalidate>
            <div class="fields-container">
                <div style="display: flex; flex-direction: row;">
                    <p>
                        <mat-form-field style="width: 280px;">
                            <mat-label>Nombre representante:</mat-label>
                            <input formControlName="nombre" type="text" matInput>
                            <mat-error *ngIf="representanteFormControls.nombre.errors?.required">Campor requerido *</mat-error>
                        </mat-form-field>
                    </p>
                    <p>
                        <mat-form-field style="width: 150px;">
                            <mat-label>Cédula:</mat-label>
                            <input formControlName="cedula" type="text" matInput>
                        </mat-form-field>
                    </p>
                    <button type="submit" style="height: max-content; background: white;" mat-stroked-button class="btn-submit" matTooltip="guardar cambios">actualizar</button>
                </div>
            </div>
        </form>
    </div>
    <div>
        <router-outlet></router-outlet>
    </div>
</div>

<div *ngIf="!representante">
    Página no encontrada
</div>
