<mat-toolbar class="mat-elevation-z1" style="background-color: white;">

    <div mat-card-avatar [style.background-image]=" 'url('+ logo + ')' " (click)="apiAuth.logout()" class="example-header-image "></div>
    GAD San Pablo del Lago

    <!-- <strong class="navigation-item" style="color: rgb(39, 39, 39); cursor: pointer;" routerLink="/inicio">{{title}}</strong> -->
    <span class="example-spacer"></span>
    <a class="navigation-item opcion" routerLink="/inicio" mat-list-item routerLinkActive="active" routerLinkActive #rla="routerLinkActive">
        <label class="navigation-item-label">Inicio</label>
        <div [ngClass]="{'indicador': rla.isActive}"></div>
    </a>
    <a class="navigation-item opcion" routerLink="/representantes" mat-list-item routerLinkActive="active" routerLinkActive #rla1="routerLinkActive">
        <label class="navigation-item-label">Representantes</label>
        <div [ngClass]="{'indicador': rla1.isActive}"></div>
    </a>
    <a class="navigation-item opcion" routerLink="/reportes" mat-list-item routerLinkActive="active" routerLinkActive #rla2="routerLinkActive">
        <label class="navigation-item-label">Reportes</label>
        <div [ngClass]="{'indicador': rla2.isActive}"></div>
    </a>
    <a class="navigation-item opcion" routerLink="/administracion" mat-list-item routerLinkActive="active" routerLinkActive #rla3="routerLinkActive">
        <label class="navigation-item-label">Administración</label>
        <div [ngClass]="{'indicador': rla3.isActive}"></div>
    </a>
    <!-- <span class="example-spacer"></span> -->
</mat-toolbar>