.indicador {
    height: 2px;
    background: #FDD92A;
    width: auto;
    /* margin-top: 3px; */
    margin-left: 6px;
}

.opcion {
    margin-left: 6px;
    cursor: pointer;
    font-size: 14px;
}

.contenedor_mensaje {
    display: flex;
    cursor: pointer;
    margin-left: 12px;
    flex-direction: column;
}

.example-spacer {
    flex: 1 1 auto;
}