<mat-toolbar>
    <strong style="color: rgb(39, 39, 39); cursor: pointer;">{{title}}</strong>
    <span class="example-spacer"></span>
    <a class="navigation-item opcion" routerLink="/representantes" mat-list-item routerLinkActive="active" routerLinkActive #rla1="routerLinkActive">
        <label class="navigation-item-label">Representantes</label>
        <div [ngClass]="{'indicador': rla1.isActive}"></div>
    </a>
    <a class="navigation-item opcion" routerLink="/ejemplares" mat-list-item routerLinkActive="active" routerLinkActive #rla2="routerLinkActive">
        <label class="navigation-item-label">Sitios</label>
        <div [ngClass]="{'indicador': rla2.isActive}"></div>
    </a>
    <a class="navigation-item opcion" routerLink="/administracion" mat-list-item routerLinkActive="active" routerLinkActive #rla3="routerLinkActive">
        <label class="navigation-item-label">Administración</label>
        <div [ngClass]="{'indicador': rla3.isActive}"></div>
    </a>
    <span class="example-spacer1"></span>
</mat-toolbar>