:host {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: calc(100% - 64px);
}

.container-fluid {
    height: 100%;
}

.row {
    height: calc(100% - 65px);
}

.col {
    padding: 0.5rem;
}

button {
    margin: 1rem;
    border-radius: 1rem;
    height: fit-content;
}

.mat-form-field {
    width: 40%;
}

.example-loading-shade {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #111b342d;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.example-rate-limit-reached {
    color: #111b34;
    max-width: 360px;
    text-align: center;
}

.item-seleccionado {
    background-color: #111b342d;
}

::ng-deep .mat-tab-list .mat-tab-labels .mat-tab-label-active {
    color: white;
    background-color: #111b34;
    opacity: 1;
    box-shadow: 0px 3px 10px #111b34;
}
