:host {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: calc(100% - 64px);
}

.mat-mini-fab {
    background-color: white;
    color: #111b34;
    font-size: larger;
}

.container-fluid {
    height: 100%;
}

.row {
    height: calc(100% - 65px);
}

.col {
    padding: 0.5rem;
}

.mat-form-field {
    width: 40%;
}

.button-help {
    background-color: white;
    margin: 0.75rem 0.25rem 0 0.25rem;
    font-size: medium;
}

.example-loading-shade {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #111b342d;
    z-index: 10000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.example-rate-limit-reached {
    color: #111b34;
    max-width: 360px;
    text-align: center;
}

.item-seleccionado {
    background-color: #111b342d;
}

.mat-column-fecha,
.mat-column-pago,
.mat-column-abonos,
.mat-column-cargos,
.mat-column-pendientes,
.mat-column-acciones {
    min-width: fit-content;
    padding: 0 0.5rem;
}

.mat-column-abonos,
.mat-column-cargos,
.mat-column-pendientes {
    text-align: center;
}

.mat-icon-acciones {
    color: #757575;
    font-size: large;
}

.button-accion {
    margin: 0;
    padding: 0;
}

.container-opciones {
    display: flex;
    flex-direction: row;
    margin: 0.5rem 1rem 0 auto;
}
