.container-inicio {
    display: flex;
    flex-direction: row;
    height: calc(100vh - 64px);
    width: 100vw;
}

.container-filtro-representante {
    min-width: 125px;
    width: 10vw;
    background-color: white;
    padding: 12px;
    margin: 2px 12px 6px 0px;
}

.item-filtro {
    display: flex;
    cursor: pointer;
    flex-direction: row;
}

.indicador-filtro {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    margin: 6px 12px 0 auto;
    background-color: gray;
}

.container-representante {
    margin-top: 12px;
}

button {
    background-color: white
}

p {
    margin: 12px 0px;
    color: rgba(0, 0, 0, 0.54);
}