<div class="example-loading-shade" *ngIf="isLoadingResults || isRateLimitReached">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
    <div class="example-rate-limit-reached" *ngIf="isRateLimitReached">
        Se ha alcanzado el límite de la tasa API de SIC. Se restablecerá en un minuto.
    </div>
</div>
<div class="container-inicio">
    <div class="container-filtro-representante">
        <p matTooltip="Lista a los representantes con un sitio adquirido">Representantes</p>

        <ng-container *ngIf="apiSitios.fechas | async as fechas; else loading">

            <ng-container *ngIf="fechas && fechas.length !== 0; else lenp;">

                <div>
                    <a *ngFor="let item of fechas" class="navigation-item" [routerLink]="'./representantes/'+ item?.title" mat-list-item routerLinkActive="active" routerLinkActive #rla2="routerLinkActive">
                        <div class="item-filtro">
                            <label>{{item.title}}</label>
                            <div [ngClass]="{'indicador-filtro': rla2.isActive}"></div>
                        </div>
                    </a>
                    <mat-divider style="margin: 12px;"></mat-divider>
                    <a class="navigation-item" routerLink="/inicio/representantes/todos" mat-list-item routerLinkActive="active" routerLinkActive #rla3="routerLinkActive">
                        <div class="item-filtro">
                            <label>ver todo</label>
                            <div [ngClass]="{'indicador-filtro': rla3.isActive}"></div>
                        </div>
                    </a>
                </div>

            </ng-container>

            <ng-template #lenp>
                Lista vacia..
            </ng-template>


        </ng-container>

        <ng-template #loading>
            Cargando fechas..
        </ng-template>

    </div>
    <div class="container-representante">
        <router-outlet>
        </router-outlet>
    </div>
</div>
