table {
    width: 100%;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}


/* .mat-column-adquisicion {
    width: 120px;
} */

h4 {
    margin: 0px;
}

.container-opciones {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    width: 100%;
}

.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
    flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
    justify-content: space-between;
    align-items: center;
    background-color: whitesmoke;
}

.example-headers-align .mat-form-field+.mat-form-field {
    margin-left: 8px;
}

mat-form-field {
    margin-left: 6px;
    padding-top: 12px;
}