.indicador {
    background-color: #111b34;
    color: whitesmoke;
    width: auto;
    height: 100%;
}

.opcion {
    font-size: medium;
    cursor: pointer;
    padding: 1rem;
}

.mat-toolbar {
    background-color: #fff;
    border-bottom: 1px solid #111b341e;
}

img {
    border-radius: 100%;
    background-color: white;
    width: 60px;
    height: 60px;
    margin: auto 1rem auto 0;
}

label {
    cursor: pointer;
}
