<div *ngIf="informacionSitio" style="display: flex; padding-left: 12px; padding-top: 6px; background: #FAFAFA; margin-bottom: 24px;">
    <label>Sitio n°: {{informacionSitio.id}}</label>
    <label>/</label>
    <label>{{detalles}}</label>
    <button *ngIf="detalles == 'Información'" mat-raised-button style="margin-left: auto; margin-top: 3px; margin-right: 24px; height: 40px;">ver cambios</button>
    <button *ngIf="detalles == 'Registro de fallecidos'" mat-raised-button style="margin-left: auto; margin-top: 3px; margin-right: 24px; height: 40px;">registrar fallecido</button>
    <button *ngIf="detalles == 'Deudas pendientes'" mat-raised-button style="margin-left: auto; margin-top: 3px; margin-right: 24px; height: 40px;">registar pago</button>
    <button *ngIf="detalles == 'Pagos realizados'" mat-raised-button style="margin-left: auto; margin-top: 3px; margin-right: 24px; height: 40px;">ver pago</button>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-3">
            <mat-card>
                <!-- <mat-card-header> -->
                <mat-card-subtitle>Detalles del sitio</mat-card-subtitle>
                <!-- </mat-card-header> -->
                <mat-card-content>
                    <div style="display: flex; flex-direction: column;">
                        <a (click)="detalles = 'Información'" routerLinkActive="active" style="color: #007Bff;">Información</a>
                        <a (click)="detalles = 'Registro de fallecidos'" routerLinkActive="active" style="color: #007Bff;">Registro de fallecidos</a>
                        <a (click)="detalles = 'Pagos realizados'" routerLinkActive="active" style="color: #007Bff;">Pagos realizados</a>
                        <a (click)="detalles = 'Deudas pendientes'" routerLinkActive="active" style="color: #007Bff;">Deudas pendientes</a>
                        <a (click)="detalles = 'Estado de cuenta'" routerLinkActive="active" style="color: #007Bff;">Estado de cuenta</a>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col">
            <mat-card *ngIf="informacionSitio && detalles == 'Información'">
                <div style="display: flex;">
                    <mat-card-content>
                        <mat-form-field style="min-width: 250px; margin-right: 12px;">
                            <mat-label>Nombre</mat-label>
                            <input matInput placeholder="Nombre" [(ngModel)]="informacionSitio.nombre">
                        </mat-form-field>
                    </mat-card-content>
                    <mat-card-content>
                        <mat-form-field style="min-width: 250px; margin-right: 12px;">
                            <mat-label>Observaciones</mat-label>
                            <input matInput placeholder="Observaciones" [(ngModel)]="informacionSitio.observaciones">
                        </mat-form-field>
                    </mat-card-content>
                    <!-- <button mat-raised-button style="height: 40px; margin-left: 12px;">ver cambios</button> -->
                </div>

                <div style="display: flex;">
                    <mat-form-field style="margin-right: 12px; width: 220px;">
                        <mat-label>Sector</mat-label>
                        <mat-select [formControl]="sectorControl" required [(ngModel)]="informacionSitio.sector">
                            <!-- <mat-option>--</mat-option> -->
                            <mat-option *ngFor="let sector of listaSectores" [value]="sector.id">
                                {{sector.nombre}}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="sectorControl.hasError('required')">Por favor selecciona un sector</mat-error>
                    </mat-form-field>
                    <mat-form-field style="margin-right: 12px; width: 220px;">
                        <mat-label>Tipo</mat-label>
                        <mat-select required [(ngModel)]="informacionSitio.tipo">
                            <mat-option *ngFor="let tipo of listaTipo" [value]="tipo">
                                {{tipo}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field style="margin-right: 12px; width: 220px;">
                        <mat-label>Descripción</mat-label>
                        <mat-select [(ngModel)]="informacionSitio.descripcion">
                            <mat-option *ngFor="let descripcion of listaDescripcion" [value]="descripcion">
                                {{descripcion}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div style="display: flex;">
                    <!-- <mat-form-field style="margin-right: 12px; width: 220px;">
                        <mat-label>Estado</mat-label>
                        <mat-select [(ngModel)]="informacionSitio.estado">
                            <mat-option *ngFor="let estado of listaEstados" [value]="estado">
                                {{estado}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field> -->
                    <mat-form-field style="margin-right: 12px; width: 220px;">
                        <mat-label>Fecha adquisición</mat-label>
                        <input matInput [matDatepicker]="picker" [(ngModel)]="informacionSitio.adquisicion">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                </div>
            </mat-card>

            <div class="mat-elevation-z1" *ngIf="informacionSitio && detalles == 'Registro de fallecidos'" style="max-height: 45vh; overflow: auto;">
                <table mat-table [dataSource]="dataSource">

                    <ng-container matColumnDef="nombre">
                        <th mat-header-cell *matHeaderCellDef> nombre </th>
                        <td mat-cell *matCellDef="let row"> {{row.nombre}}</td>
                    </ng-container>
                    <ng-container matColumnDef="cedula">
                        <th mat-header-cell *matHeaderCellDef> cédula </th>
                        <td mat-cell *matCellDef="let row"> {{row.cedula}} </td>
                    </ng-container>
                    <ng-container matColumnDef="fecha">
                        <th mat-header-cell *matHeaderCellDef> fecha fallecimiento </th>
                        <td mat-cell *matCellDef="let row">{{row.fecha}}</td>
                    </ng-container>
                    <ng-container matColumnDef="observaciones">
                        <th mat-header-cell *matHeaderCellDef> observaciones </th>
                        <td mat-cell *matCellDef="let row">{{row.observaciones}}</td>
                    </ng-container>
                    <ng-container matColumnDef="acciones">
                        <th mat-header-cell *matHeaderCellDef> acciones </th>
                        <td mat-cell *matCellDef="let row" class="action-link">
                            <a style="color: #007Bff; cursor: pointer;">editar</a>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                </table>
                <!-- <mat-paginator [pageSizeOptions]="[ 5, 10, 25, 100]"></mat-paginator> -->
            </div>


            <div class="mat-elevation-z1" *ngIf="informacionSitio && detalles == 'Deudas pendientes'" style="max-height: 45vh; overflow: auto;">
                <table mat-table #sort="matSort" [dataSource]="dataSourceD" matSort>
                    <ng-container matColumnDef="descripcion">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> motivo </th>
                        <td mat-cell *matCellDef="let row"> {{row.descripcion}}</td>
                        <td mat-footer-cell *matFooterCellDef> Deuda total </td>
                    </ng-container>
                    <ng-container matColumnDef="deuda_total">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> cantidad </th>
                        <td mat-cell *matCellDef="let row"> {{row.deuda_total | currency}} </td>
                        <td mat-footer-cell *matFooterCellDef> </td>
                    </ng-container>
                    <ng-container matColumnDef="deuda_actual">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> deuda </th>
                        <td mat-cell *matCellDef="let row" [style.color]="row.deuda_actual == 0 ? 'green':'red' ">{{ row.deuda_actual == 0 ? 'pagado' : row.deuda_actual | currency}}</td>
                        <td mat-footer-cell *matFooterCellDef [style.color]="'red'"> {{getTotalCost() | currency}} </td>
                    </ng-container>
                    <ng-container matColumnDef="desde">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> desde </th>
                        <td mat-cell *matCellDef="let row">{{row.desde}}</td>
                        <td mat-footer-cell *matFooterCellDef> </td>
                    </ng-container>
                    <ng-container matColumnDef="hasta">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> hasta </th>
                        <td mat-cell *matCellDef="let row">{{row.hasta}}</td>
                        <td mat-footer-cell *matFooterCellDef> </td>
                    </ng-container>
                    <ng-container matColumnDef="acciones">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> acciones </th>
                        <td mat-cell *matCellDef="let row" class="action-link">
                            <a style="color: #007Bff; cursor: pointer;">pagar</a> |
                            <a style="color: #007Bff; cursor: pointer;">editar</a>
                        </td>
                        <td mat-footer-cell *matFooterCellDef> </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumnsD; sticky: true"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumnsD;"></tr>
                    <tr mat-footer-row *matFooterRowDef="displayedColumnsD; sticky: true"></tr>

                </table>
            </div>
            <div class="row" *ngIf="informacionSitio && detalles == 'Pagos realizados'">


                <div class="mat-elevation-z1 col-5" style="max-height: 45vh; overflow: auto; margin-right: 6px;">
                    <table mat-table [dataSource]="dataSourceP">

                        <ng-container matColumnDef="id">
                            <th mat-header-cell *matHeaderCellDef> id </th>
                            <td mat-cell *matCellDef="let row" class="action-link">
                                <a (click)="obtenerValoresPagoDetalles(row.id)" style="color: #007Bff; cursor: pointer;">{{row.id}}</a>
                            </td>
                            <td mat-footer-cell *matFooterCellDef> Total </td>
                        </ng-container>
                        <ng-container matColumnDef="fecha">
                            <th mat-header-cell *matHeaderCellDef> fecha </th>
                            <td mat-cell *matCellDef="let row"> {{row.fecha}}</td>
                            <td mat-footer-cell *matFooterCellDef> </td>
                        </ng-container>
                        <ng-container matColumnDef="cantidad">
                            <th mat-header-cell *matHeaderCellDef> cantidad </th>
                            <td mat-cell *matCellDef="let row" [style.color]="row.fecha < '2001/01/01' ? 'blue':'green'"> {{row.cantidad | currency}} {{row.fecha
                                < '2001/01/01' ? 'sucres': ''}}</td>
                                    <td mat-footer-cell *matFooterCellDef [style.color]="'green'"> {{getTotalPagos() | currency}} </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumnsP; sticky: true"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumnsP;"></tr>
                        <tr mat-footer-row *matFooterRowDef="displayedColumnsP; sticky: true"></tr>

                    </table>
                </div>



                <div class="mat-elevation-z1 col-6" style="max-height: 45vh; overflow: auto; margin-left: 6px;">
                    <table mat-table [dataSource]="dataSourcePD">

                        <ng-container matColumnDef="descripcion">
                            <th mat-header-cell *matHeaderCellDef> motivo </th>
                            <td mat-cell *matCellDef="let row" class="action-link">
                                <a style="color: #007Bff; cursor: pointer;">{{row.descripcion}}</a>
                            </td>
                            <td mat-footer-cell *matFooterCellDef> Total </td>
                        </ng-container>
                        <ng-container matColumnDef="cantidad">
                            <th mat-header-cell *matHeaderCellDef> cantidad </th>
                            <td mat-cell *matCellDef="let row" [style.color]="'green'"> {{row.cantidad | currency}} </td>
                            <td mat-footer-cell *matFooterCellDef [style.color]="'green'"> {{getTotalPago() | currency}} </td>
                        </ng-container>
                        <ng-container matColumnDef="desde">
                            <th mat-header-cell *matHeaderCellDef> desde </th>
                            <td mat-cell *matCellDef="let row"> {{row.desde}} </td>
                            <td mat-footer-cell *matFooterCellDef> </td>
                        </ng-container>
                        <ng-container matColumnDef="hasta">
                            <th mat-header-cell *matHeaderCellDef> hasta </th>
                            <td mat-cell *matCellDef="let row"> {{row.hasta}} </td>
                            <td mat-footer-cell *matFooterCellDef> </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumnsPD; sticky: true"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumnsPD;"></tr>
                        <tr mat-footer-row *matFooterRowDef="displayedColumnsPD; sticky: true"></tr>

                    </table>
                </div>
            </div>



            <div class="mat-elevation-z1" *ngIf="informacionSitio && detalles == 'Estado de cuenta'" style="max-height: 45vh; overflow: auto;">
                <table mat-table [dataSource]="dataSourceEC">
                    <ng-container matColumnDef="id">
                        <th mat-header-cell *matHeaderCellDef> id </th>
                        <td mat-cell *matCellDef="let row" class="action-link">
                            <a style="color: #007Bff; cursor: pointer;">{{row.id}}</a>
                        </td>
                        <td mat-footer-cell *matFooterCellDef> Total </td>
                    </ng-container>
                    <ng-container matColumnDef="descripcion">
                        <th mat-header-cell *matHeaderCellDef> motivo </th>
                        <td mat-cell *matCellDef="let row"> {{row.descripcion}}</td>
                        <td mat-footer-cell *matFooterCellDef> </td>
                    </ng-container>
                    <ng-container matColumnDef="desde">
                        <th mat-header-cell *matHeaderCellDef> desde </th>
                        <td mat-cell *matCellDef="let row"> {{row.desde}} </td>
                        <td mat-footer-cell *matFooterCellDef [style.color]="'red'"> {{getDeudasEstadoCuenta() | currency}} </td>
                    </ng-container>
                    <ng-container matColumnDef="hasta">
                        <th mat-header-cell *matHeaderCellDef> hasta </th>
                        <td mat-cell *matCellDef="let row"> {{row.hasta}} </td>
                        <td mat-footer-cell *matFooterCellDef [style.color]="'green'"> {{getPagosEstadoCuenta() | currency}} </td>
                    </ng-container>
                    <ng-container matColumnDef="cantidad">
                        <th mat-header-cell *matHeaderCellDef> cantidad </th>
                        <td mat-cell *matCellDef="let row" [style.color]="row.desde
                        < '2001/01/01' ? 'blue': row.tipo == 'deuda' ? 'red':'green'">{{row.tipo=='deuda' ? '+': '-' }} {{row.cantidad | currency}} {{row.desde
                            < '2001/01/01' ? '(sucres)': ''}} </td>
                                <td mat-footer-cell *matFooterCellDef>{{getTotalEstadoCuenta()
                                    < 0 ? '$0.00' : getTotalEstadoCuenta() | currency}} </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumnsEC; sticky: true"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumnsEC;"></tr>
                    <tr mat-footer-row *matFooterRowDef="displayedColumnsEC; sticky: true"></tr>

                </table>
            </div>
        </div>
    </div>
</div>
