<h1 mat-dialog-title>Registrar abono</h1>
<div mat-dialog-content>

    <div style="display: flex; flex-direction: row;">
        <mat-form-field style="width: 120px;">
            <mat-label>Fecha:</mat-label>
            <input [(ngModel)]="fecha" matInput [matDatepicker]="picker2" (focus)="picker2.open()" readonly>
        </mat-form-field>
        <mat-datepicker #picker2></mat-datepicker>

        <mat-form-field>
            <mat-label>Sitio:</mat-label>
            <mat-select (selectionChange)="sitioSeleccionado($event);">
                <mat-option *ngFor="let sitio of sitios" [value]="sitio">
                    ({{sitio.id}} - {{sitio.tipo}}): {{sitio.descripcion}}, {{sitio.sector}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <div style="display: flex; flex-direction: row;">
        <table mat-table [dataSource]="dataSourceCargos" style="margin: 3px;">

            <ng-container matColumnDef="select">
                <th mat-header-cell *matHeaderCellDef> </th>
                <td mat-cell *matCellDef="let row">
                    <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? seleccionToggle(row) : null" [checked]="rowSelected(row)">
                    </mat-checkbox>
                </td>
            </ng-container>

            <ng-container matColumnDef="fecha">
                <th mat-header-cell *matHeaderCellDef> fecha</th>
                <td mat-cell *matCellDef="let element"> {{element.fecha | date : 'MMM d, y':undefined:locale}} </td>
            </ng-container>

            <ng-container matColumnDef="descripcion">
                <th mat-header-cell *matHeaderCellDef> descripcion </th>
                <td mat-cell *matCellDef="let element"> {{element.descripcion}} </td>
            </ng-container>

            <ng-container matColumnDef="deuda">
                <th mat-header-cell *matHeaderCellDef> deuda </th>
                <td mat-cell *matCellDef="let element"> {{element.pago}} </td>
            </ng-container>

            <ng-container matColumnDef="pendiente">
                <th mat-header-cell *matHeaderCellDef> pendiente </th>
                <td mat-cell *matCellDef="let element"> {{element.pendiente | currency}} </td>
            </ng-container>

            <ng-container matColumnDef="header-cargos">
                <th mat-header-cell *matHeaderCellDef [attr.colspan]="5" class="header-table">
                    <div *ngIf="sitio">
                        Sitio ({{sitio?.id}} - {{sitio?.tipo}}): {{sitio?.descripcion}}, {{sitio?.sector}}
                    </div>
                    <div *ngIf="!sitio">
                        Debes seleccionar un sitio para ver los detalles...
                    </div>
                </th>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="['header-cargos']; sticky: true" class="example-first-header-row"></tr>
            <tr mat-header-row *matHeaderRowDef="columnsToDisplayCargos; sticky: true"></tr>

            <tr mat-row *matRowDef="let row; columns: columnsToDisplayCargos;" (click)="seleccionToggle(row)">}</tr>

        </table>

        <table #table mat-table [dataSource]="seleccion" style="margin: 3px;">

            <ng-container matColumnDef="sitio">
                <th mat-header-cell *matHeaderCellDef> sitio </th>
                <td mat-cell *matCellDef="let element"> {{element.sitio}} </td>
                <td mat-footer-cell *matFooterCellDef> </td>
            </ng-container>

            <ng-container matColumnDef="fecha">
                <th mat-header-cell *matHeaderCellDef> fecha</th>
                <td mat-cell *matCellDef="let element"> {{element.fecha | date : 'MMM d, y':undefined:locale}} </td>
                <td mat-footer-cell *matFooterCellDef> </td>
            </ng-container>

            <ng-container matColumnDef="descripcion">
                <th mat-header-cell *matHeaderCellDef> descripcion </th>
                <td mat-cell *matCellDef="let element"> {{element.descripcion}} </td>
                <td mat-footer-cell *matFooterCellDef> Total</td>
            </ng-container>

            <ng-container matColumnDef="deuda">
                <th mat-header-cell *matHeaderCellDef> pendiente </th>
                <td mat-cell *matCellDef="let element"> {{element.pendiente | currency}} </td>
                <td mat-footer-cell *matFooterCellDef> </td>
            </ng-container>

            <ng-container matColumnDef="pendiente">
                <th mat-header-cell *matHeaderCellDef matTooltip="Recuerda, el valor del abono no puede ser mayor al valor pendiente.">
                    abono
                    <mat-icon style="font-size: small !important; color: gray; margin-top: 6px;">info</mat-icon>
                </th>
                <td mat-cell *matCellDef="let element">
                    <mat-form-field class="example-form-field">
                        <input matInput type="number" [(ngModel)]="element.abono">
                    </mat-form-field>
                </td>
                <td mat-footer-cell *matFooterCellDef> {{getTotalCost | currency}} </td>
            </ng-container>

            <ng-container matColumnDef="accion">
                <th mat-header-cell *matHeaderCellDef> </th>
                <td mat-cell *matCellDef="let row">
                    <mat-icon (click)="seleccionToggle(row)">clear</mat-icon>
                </td>
                <td mat-footer-cell *matFooterCellDef> </td>
            </ng-container>

            <ng-container matColumnDef="header-row-cero-grupo_0">
                <th mat-header-cell *matHeaderCellDef [attr.colspan]="6" class="header-table">Detalles del abono</th>
            </ng-container>

            <ng-container matColumnDef="pie-de-nota">
                <td mat-footer-cell *matFooterCellDef colspan="6">
                    <mat-icon>info</mat-icon>
                    <span> Recuerda, el valor del abono no puede ser mayor al valor pendiente.</span>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="['header-row-cero-grupo_0']; sticky: true" class="example-first-header-row"></tr>
            <tr mat-header-row *matHeaderRowDef="columnsToDisplayCargosPagar; sticky: true"></tr>

            <tr mat-row *matRowDef="let row; columns: columnsToDisplayCargosPagar;"> </tr>

            <tr mat-footer-row *matFooterRowDef="columnsToDisplayCargosPagar" class="example-first-footer-row"></tr>

        </table>
    </div>
</div>
<div mat-dialog-actions align=end>
    <button mat-button (click)="onNoClick();">Cancelar</button>
    <button mat-button [disabled]="seleccion.length === 0" (click)="enviarPago();" cdkFocusInitial>Guardar</button>
</div>