<mat-sidenav-container class="example-container">
    <mat-sidenav opened mode="side" style="background-color: white; padding: 12px;">
        <div style="display: flex; flex-direction: column; width: 170px;">
            <a class="navigation-item " [routerLink]="'/administracion/lista-valores/'" routerLinkActive="active" routerLinkActive #rlad1="routerLinkActive">
                <div style="display: flex; flex-direction: row;">
                    <label> Lista de valores</label>
                    <div [ngClass]="{'indicador-filtro': rlad1.isActive}"></div>
                </div>
            </a>
            <a class="navigation-item " [routerLink]="'/administracion/importar-datos/'" routerLinkActive="active" routerLinkActive #rlad2="routerLinkActive">
                <div style="display: flex; flex-direction: row;">
                    <label>Importar datos</label>
                    <div [ngClass]="{'indicador-filtro': rlad2.isActive}"></div>
                </div>
            </a>
        </div>
    </mat-sidenav>

    <mat-sidenav opened mode="side" position="end">
    </mat-sidenav>

    <div class="container-detalles">
        <router-outlet>
        </router-outlet>
    </div>

</mat-sidenav-container>
